.film {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    min-height: 400px;
    border-radius: 1rem;
  }
  
  .film h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filmPic {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 2rem;
  }


